.Clubbio-color {
  background-color: #662D8F;
}

.Layout {
  font-family: 'Exo 2', sans-serif;
  background-color: #FCFCFC;
}

.fullview_component {
  min-height: 100vh;
  padding: 6%;
}

.equal-height-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.equal-column-content {
  height: 100vh;
  max-height: 20px;
}

.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.Homepage-title {
  height: 10vh;
  padding: 2%;
}